/* Header/Title-Styling */
@font-face {
  font-family: "DM-Seriff";
  src: url('/src/assets/dm-seriff.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Body/List-Styling*/
@font-face {
  font-family: "Roboto";
  src: url('/src/assets/roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
  width: 100%;
  margin: 0 15%;
  padding: 2rem;
  text-align: center;
  align-items: center;
  font-family: DM-Seriff;
}


h1.my-title {
  font-family: "DM-Seriff";
  padding-top: 1rem;
  font-size: clamp(1rem, 4vw, 4rem);
  line-height: 1.2;
}

h2 {
  font-size: clamp(1.2rem, 4vw, 2.2rem);
  line-height: 1.2;
}

h3 {
  font-size: clamp(1.2rem, 2vw, 2rem);
  line-height: 1.2;
}

h4 {
  font-size: clamp(0.8rem, 2vw, 1.6rem);
  line-height: 1.2;
}

h5 {
  font-size: clamp(0.75rem, 2vw, 1.6rem);
  line-height: 1.2;
}

p {
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  line-height: 1.2;
}

img {
  width: clamp(100px, 20vw, 300px);
  height: auto;
}

.settings-tab{
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 40%;
  padding: 20px;    
  border: 5px solid black;
  border-radius: 25px;
  box-shadow: 0 5px 50px black;
  margin: auto;
  z-index: 100;
}

.on-screen-button {
  position: fixed;
  border: 5px solid white;
  margin: 1rem 0 0 0;
  font-size: clamp(0.25rem, 1rem, 1.25rem);
  padding: clamp(0.4rem, 2vw, 0.75rem) clamp(0.6rem, 2vw, 1.25rem);
}


.header{
  padding: 1rem;
  border: 5px solid black;
  border-radius: 50px;
  box-shadow: 5px 5px 20px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
Update for Slideshow of images
*/
.header_images {
  display:flex;
  flex-direction: row;
}


.tabs-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.tabs-content {
  width: 100%;
}

.tabs-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 20px;
  border-bottom: 2px solid;
}

.tab-button {
  font-family: DM-Seriff;
  font-size: 1.1rem;
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  position: relative;
  transition: color 0.5s ease-in-out;
}

.tab-button.active {
  color: #F1FAEE;
  background-color: #E63946;

}

.tab-button.active::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #E63946;
}

.tab-button.active::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #E63946;
}

button {
  margin: 0 2% 3%;
}

.blurb {
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 15%;
  text-decoration: none;
}

.general-card {
  display: flex;
  flex-direction: row;
  width: 60%;
  min-height: 180px;
  gap: 1rem;
  padding: 1.25rem;
  border: 5px solid black;
  border-radius: 25px;
  margin-bottom: 20px;
  margin-left: 5%;
  box-shadow: 5px 5px 20px black;
}


.general-card-image {
  width: 100%;
  height: 100%;
  background: 1c1c1c;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self:center;
}

.general-image {
  max-width: 100%;
  max-height: 100%;

  object-fit: contain;
  padding: 16px;
}

.general-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}


.about-content, .work-content, .projects-content, .hobby-content, .contact-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

